[user]
	name = Robert Buchberger
	email = robert@buchberger.cc
  signingkey = 8C29272B84A3CC1BD7CBBCF218B7E45B74319F2C
[core]
	excludesfile = /home/robert/.gitignore-global
	editor = nvim
[color]
	ui = true
[pager]
	branch = false
[commit]
  gpgsign = true
[include]
  path = /home/robert/.netlify/helper/git-config
