/* # black          */
/* color0   #1d1f21 */
/* color8   #969896 */

/* # red            */
/* color1   #cc6666 */
/* color9   #cc6666 */

/* # green          */
/* color2   #b5bd68 */
/* color10  #b5bd68 */

/* # yellow         */
/* color3   #f0c674 */
/* color11  #f0c674 */

/* # blue           */
/* color4   #81a2be */
/* color12  #81a2be */

/* # magenta        */
/* color5   #b294bb */
/* color13  #b294bb */

/* # cyan           */
/* color6   #8abeb7 */
/* color14  #8abeb7 */

/* # white          */
/* color7   #c5c8c6 */
/* color15  #ffffff */

* {
  font-family: FuraMono;
  font-size: 16px;
  background: rgba(0, 0, 0, 0);
}

#window {
  background: rgba(0, 0, 0, 0);
  color: white;
  margin: 0;
  padding: 0 20px;
  text-shadow: 2px 2px 2px black;
}

#clock,
#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#network,
#battery,
#backlight,
#tray,
#mode, 
#workspaces,
#custom-switch-user {
  padding: 0 9px;
  margin: 0 10px 0 0;
  background: rgba(21,26,35,.7);
  color: #c5c8c6;
  box-shadow: 5px 3px 3px rgba(0,0,0,.5);
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

#workspaces {
  margin-left: 5px;
  padding: 0;
}

#workspaces button {
  padding: 0 4px;
  color: #c5c8c6;
  font-weight: bold;
  transition: none;
}

#workspaces button.urgent {
  color: #cc6666;
}

#workspaces button.focused {
  background: #c5c8c6;
  color: #1d1f21;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0
}

#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  border: 1px solid rgba(0,0,0,0);
}

#custom-switch-user {
  color: #cc6666;
  font-size: 20px;
}

#battery.discharging {
  color: #81a2be;
}

#battery.full {
  color: #b5bd68;
}

#battery.warning:not(.charging),
#idle_inhibitor.activated,
#network.disconnected,
#pulseaudio.muted,
#mode {
  background: #cc6666;
  color: #1d1f21;
}
