/* dark grey               */
/* #2b2b2b                 */
/* #272935                 */

/* blue-grey               */
/* #3a4055                 */
/* #5a647e                 */

/* whites (dark to light)  */
/* #d4cfc9                 */
/* #e6e1dc                 */
/* #f4f1ed                 */
/* #f9f7f3                 */

/* red                     */
/* #da4939                 */

/* orange                  */
/* #cc7833                 */

/* yellow                  */
/* #ffc66d                 */

/* greens (light and dark) */
/* #a5c261                 */
/* #519f50                 */

/* light blue              */
/* #6d9cbe                 */

/* purple                  */
/* #b6b3eb                 */

/* gold/brown              */
/* #bc9458                 */


/* actually has pretty high specificity */
* {
  border-radius: 0;
  font-family: Iosevka Aile;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0;
}

/* whole bar */
window {
  /* background: #2b2b2b; */
  background: rgba(20,20,20,.3);
  color: #e6e1dc;
  padding: 0;
  margin: 0;
}

#window {
  margin: 0 30px;
}

/* all widgets */
#clock,
#jgmenu,
#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#network,
#battery,
#backlight,
#tray,
#mode, 
#custom-covsum,
#custom-switch-user {
  /* color: #e6e1dc; */
  color: rgba(230,225,220,.9);
  /* background: #3a4055; */
  background: rgba(58,64,85,.7);
  padding: 0 10px;
  margin: 6px 8px;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0,0,0,.8);
}

#workspaces {
  background: #3a4055;
  border: 0;
  padding: 0;
  margin: 6px 5px;
  border-radius: 3px;
  box-shadow: 4px 4px 4px rgba(0,0,0,.8);
}

#workspaces button,
#workspaces button:hover {
  box-shadow: none;
  text-shadow: none;
  background: #3a4055;
  color: #e6e1dc;
  border: 1px solid rgba(0,0,0,0);
  padding: 0 4px;
  font-family: Iosevka Term SS05 Heavy;
}

#workspaces button.focused,
#workspaces button.focused:hover {
  background: #5a647e;
  border: 1px solid #a5c261;
  border-radius: 2px;
}

#workspaces button.urgent {
  color: #cc7833;
}

#custom-switch-user {
  color: #cc6666;
  font-size: 18px;
}

#battery.discharging {
  color: #bc9458;
}

#battery.full {
  color: #b5bd68;
}

#battery.warning:not(.charging),
#idle_inhibitor.activated,
#network.disconnected,
#pulseaudio.muted,
#mode {
  background: #cc6666;
}
