snippet j "Journal Entry Template" b
@document.meta
title: `date +%Y-%m-%d` - ${1:`date +%A`}
authors: robert
categories: [
  journal-`date +%Y`
]
created: `date +%Y-%m-%dT%H:%M:%S%z`
updated: `date +%Y-%m-%dT%H:%M:%S%z`
version: 1.1.1
@end

* Tasks
  - ( ) ${2:stuff}

* Stuff that happened

* Scratch
endsnippet
